@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  overflow: hidden;
}

html {
  touch-action: none;
}

body {
  background-color: #2A5C8B;
  /* Fundo azul */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  /* Para colocar a imagem na frente de todos os elementos */
}

.image-container img {
  width: 90%;
  /* Ajuste o valor da largura conforme necessário para aumentar o tamanho da imagem */
  max-height: 110vh;
  display: block;
  margin: 0 auto;
  align-self: flex-end;
  /* Alinha a parte de baixo da imagem com a borda inferior da página */
}

@media (min-width: 2160px) AND (max-height: 3840px) {

  p {
    -webkit-user-select: none;
    user-select: none;
  }

  /* Ajuste de tamanho da imagem em telas grandes (tela cheia) */
  .image-container img {
    width: 90vw;
    max-height: 110vh;
  }

  .orange-semi-circle {
    width: 140vw;
    /* Largura extra para garantir que não seja achatado */
    height: 35vh;
    /* Altura maior para telas menores */
    background-color: #E99839;
    /* Semicírculo laranja */
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    position: absolute;
    top: 0;
    /* Posicionado no topo */
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    overflow: hidden;
    /* Para cortar o círculo laranja em telas menores */
  }

  .yellow-circle {
    width: 31vw;
    height: 31vw;
    background-color: #FFEC4C;
    /* Círculo amarelo */
    border-radius: 50%;
    position: absolute;
    top: 46.5vw;
    left: 40vw;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .info-text {
    position: absolute;
    top: 8vw;
    right: 10vw;
    color: white;
    font-size: 1.5rem;
    text-align: right;
    max-width: 34vw;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
  }

  .button-play {
    position: absolute;
    top: 22vw;
    margin-left: 46vw;
    padding: 1vw 1vw;
    font-size: 1.8rem;
    background-color: #2A5C8B;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    width: 34vw;
    text-align: center;
  }

  .text-circle {
    width: 42vw;
    height: 42vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 1vw;
    left: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 70% 100%, 0% 100%);
    z-index: 4;
    /* Alterado para 4 para ficar acima da .image-container */
  }

  .text-circle p {
    color: #10AA69;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 8vw;
    margin-top: -8vw;
    margin-left: 1vw;
  }

  .logo1 {
    display: none;
  }

  .logo2 {
    display: block;
    position: fixed;
    top: 4vw;
    left: 4vw;
    width: 38vw;
    /* Defina a largura desejada */
    height: auto;
    /* Para manter a proporção da imagem */
    z-index: 9999;
    /* Certifique-se de que a imagem fique acima de outros elementos */
  }
}

/* PC - FULL HD */
@media (min-width: 1500px) AND (max-height: 1080px) {
  p {
    -webkit-user-select: none;
    user-select: none;
  }

  /* Ajuste de tamanho da imagem em telas grandes (tela cheia) */
  .image-container img {
    width: 25vw;
    max-height: 100vh;
  }

  .orange-semi-circle {
    width: 120vw;
    /* Largura extra para garantir que não seja achatado */
    height: 60vh;
    /* Altura maior para telas menores */
    background-color: #E99839;
    /* Semicírculo laranja */
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    position: absolute;
    top: 0;
    /* Posicionado no topo */
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    overflow: hidden;
    /* Para cortar o círculo laranja em telas menores */
  }

  .yellow-circle {
    width: 20vw;
    height: 20vw;
    background-color: #FFEC4C;
    /* Círculo amarelo */
    border-radius: 50%;
    position: absolute;
    top: 20vw;
    left: 44vw;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .info-text {
    position: absolute;
    top: 5vw;
    right: 5vw;
    color: white;
    font-size: 1.5rem;
    text-align: right;
    max-width: 34vw;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
  }

  .button-play {
    position: absolute;
    top: 13vw;
    margin-left: 56vw;
    padding: 1vw 1vw;
    font-size: 2rem;
    background-color: #2A5C8B;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    width: 34vw;
    text-align: center;
  }

  .text-circle {
    width: 20vw;
    height: 20vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -5vw;
    left: -5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 70% 100%, 0% 100%);
    z-index: 4;
    /* Alterado para 4 para ficar acima da .image-container */
  }

  .text-circle p {
    color: #10AA69;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding: 5vw;
    margin-top: -4vw;
    margin-left: 2vw;
  }

  .logo1 {
    display: none;
  }

  .logo2 {
    display: block;
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: 18vw;
    /* Defina a largura desejada */
    height: auto;
    /* Para manter a proporção da imagem */
    z-index: 9999;
    /* Certifique-se de que a imagem fique acima de outros elementos */
  }
}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .image-container img {
    width: 70%;
    max-height: 80vh;
  }

  .orange-semi-circle {
    width: 110vw;
    height: 25vh;
  }

  .yellow-circle {
    width: 20vw;
    height: 20vw;
  }

  .info-text {
    top: 4vw;
    right: 6vw;
    font-size: 1rem;
  }

  .button-play {
    top: 12vw;
    margin-left: 35vw;
    font-size: 1.2rem;
    width: 28vw;
  }

  .text-circle {
    width: 30vw;
    height: 30vw;
    bottom: 2vw;
    left: -2vw;
  }

  .text-circle p {
    font-size: 2rem;
    padding: 6vw;
    margin-top: -6vw;
  }

  .logo2 {
    top: 2.5vw;
    left: 2.5vw;
    width: 25vw;
  }
}

/* Para celulares */
@media (min-width: 767px) {
  p {
    -webkit-user-select: none;
    user-select: none;
  }

  /* Ajuste de tamanho da imagem em telas grandes (tela cheia) */
  .image-container img {
    width: 100vw;
    max-height: 100vh;
  }

  .orange-semi-circle {
    width: 200vw;
    /* Largura extra para garantir que não seja achatado */
    height: 55vh;
    /* Altura maior para telas menores */
    background-color: #E99839;
    /* Semicírculo laranja */
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    position: absolute;
    top: 0;
    /* Posicionado no topo */
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    overflow: hidden;
    /* Para cortar o círculo laranja em telas menores */
  }

  .yellow-circle {
    width: 58vw;
    height: 58vw;
    background-color: #FFEC4C;
    /* Círculo amarelo */
    border-radius: 50%;
    position: absolute;
    top: 92vw;
    left: 44vw;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .info-text {
    position: absolute;
    top: 20vw;
    right: 18vw;
    color: white;
    font-size: 1rem;
    text-align: right;
    max-width: 60vw;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
  }

  .button-play {
    position: absolute;
    top: 48vw;
    margin-right: -4vw;
    padding: 1vw 1vw;
    font-size: 1rem;
    background-color: #2A5C8B;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    width: 60vw;
    text-align: center;
  }

  .text-circle {
    width: 45vw;
    height: 45vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin-top: 86vh;
    margin-right: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 70% 100%, 0% 100%);
    z-index: 4;
    /* Alterado para 4 para ficar acima da .image-container */
  }

  .text-circle p {
    color: #10AA69;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 5vw;
    margin-top: -7vw;
    margin-left: 5vw;
  }

  .logo1 {
    display: none;
  }

  .logo2 {
    display: block;
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: 40vw;
    /* Defina a largura desejada */
    height: auto;
    /* Para manter a proporção da imagem */
    z-index: 9999;
    /* Certifique-se de que a imagem fique acima de outros elementos */
  }
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
